.app {
  padding: 40;
  background-color: rgb(195, 195, 195);
  color: black;
}
.chatBotReciever {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.reciever {
  background-color: rgb(35, 220, 158);
  padding: 10;
  border-radius: 10;
  color: black;
}
.sender {
  background-color: rgb(251, 251, 251);
  padding: 10;
  border-radius: 10;
  color: black;
}
.chatBotSender {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.inputMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
